
body {
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;

}




a:hover {
color: #fff;
background-color: #f00;
text-decoration:
}

p {
  color: #111

/* this is just some font style crap */

}
img {
  max-width: 100%;
  /* margin-top: -50px; */
  min-width: 100%;
}



img {
  /* filter:contrast(20) hue-rotate(200deg) contrast(20); */
  animation: changeColor 5s infinite;
}
/*
@-webkit-keyframes changeColor {
    0%   { -webkit-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
    50%  { -webkit-filter: hue-rotate(360deg)contrast(500%)saturate(100000%); }
    100% { -webkit-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
  }
@-moz-keyframes changeColor {
    0%   { -moz-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
    50%  { -moz-filter: hue-rotate(360deg)contrast(500%)saturate(100000%); }
    100% { -moz-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
  }
@-o-keyframes changeColor {
    0%   { -o-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
    50%  { -o-filter: hue-rotate(360deg)contrast(500%)saturate(100000%); }
    100% { -o-filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
  } */
@keyframes changeColor {
    0%   { filter: hue-rotate(0deg)contrast(100%)saturate(100%); }
    50%  { filter: hue-rotate(360deg)contrast(500%)saturate(10000%); }
    100% { filter: hue-rotate(0deg)contrast(100%)saturate(100%); }

}

body {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  font-style: oblique;
}


h1 {
  font-family: "Helvetica Neue";
  font-size: 72px;
  color: #000;
  letter-spacing: -0.5px;
  line-height: 90%;
  font-weight: bold;
}

h2 {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 36px;
  line-height: 95%;
}
