
body {
  background: #eee;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 75px;
}

a:hover {
color: #fff;
background-color: #000;
text-decoration:
}
p {
  color: #111


}
img {
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue";
  font-size: 18px;
}

h1 {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 72px;
  letter-spacing: -0.5px;
  line-height: 85%;
  font-weight: bold;
}

h2 {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 36px;
  line-height: 95%;
}
