
body {
  background: #fff;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 75px;
}

a:hover {
color: #fff;
background-color: #000;
text-decoration:
}

img {
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
