
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: black;
}
img {
    max-width: 100%;
    max-height: 100%
    object-fit: cover;

}
#desktop {
    display: inline;
    color: white;
}
#tablet,
#mobile,
#print {
    display: none;
}
/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: white;
    }
    #tablet {
        display: inline;
        color: white;
    }
    #desktop,
    #other,
    #moreother,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #other,
    #moreother,
    #tablet,
    #print {
        display: none;
    }


/*moreother*/
    @media (max-width: 900px) {
        body {
            background: white;
        }
        #moreother {
            display: inline;
            color: black;
        }

        #desktop,
        #mobile,
        #other,
        #tablet,
        #print {
            display: none;
        }
}

/*other*/
    @media (max-width: 300px) {
        body {
            background: white;
        }
        #other {
            display: inline;
            color: black;
        }

        #desktop,
        #mobile,
        #moreother,
        #tablet,
        #print {
            display: none;
        }
}

/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #other,
    #moreother,
    #tablet,
    #mobile {
        display: none;
    }
}
