
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}




/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

#eye {
  position: absolute;

  top: 0px;
  left: 100px;
  max-width: 300px;
  max-height: 300px;
}
